[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
matplotlib = "*"
tk = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
tests = "python -m unittest tests_Tensor.py"
demo = "python ode.py"
vlasov = "python vlasov.py"
make_video = "python video.py"
